@font-face {
  font-family: Adobe Jenson Pro;
  font-style: normal;
  font-weight: normal;
  src:url("Adobe Jenson Pro.ttf");
}
@font-face {
  font-family: Adobe Jenson Pro;
  font-style: italic;
  font-weight: normal;
  src:url("Adobe Jenson Pro Italic.ttf");
}
@font-face {
  font-family: Adobe Jenson Pro;
  font-style: normal;
  font-weight: bold;
  src:url("Adobe Jenson Pro Bold.ttf");
}
@font-face {
  font-family: Adobe Jenson Pro;
  font-style: italic;
  font-weight: bold;
  src:url("Adobe Jenson Pro Bold Italic.ttf");
}

body { font-family: "Adobe Jenson Pro"; }

/* This defines styles and classes used in the book */
body { margin: 5%; text-align: justify; font-size: medium; }
code { font-family: monospace; }
h1 { text-align: left; }
h2 { text-align: left; }
h3 { text-align: left; }
h4 { text-align: center; } // These Omega-mid chapter separators
h5 { text-align: left; }
h6 { text-align: left; }
h1.title { }
h1 span.arc-title { font-size: 150%; }
.center { text-align: center; }
h2.author { }
h3.date { }
ol.toc { text-align: left;
         margin: 0;
         padding: 1em 0 2em 0;
         font-size: 150%; }
ol.toc ol.toc { text-align: left;
                font-size: medium; }
ol.toc a { color: black; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }

.titlepage img {
  width: 75%;
  padding: 1em 1em 1em 1em;
}

.titlepage p.author {
  font-style: italic;
}